/*공통적으로 쓰이게 될 속성들입니다 */
@font-face {
  font-family: 'GangwonEduPowerExtraBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html{
  overflow-x:hidden;
  overflow-y:hidden;
}

body {
  width: 100vw;
  height: 100vh;
  margin:0;
}


/* D+N과 SCORE에 적용되어있습니다 */

h1{
  font-family: 'GangwonEduPowerExtraBoldA';
  margin: 0%;
  font-size: 50px;
  padding: 20px;
  color: white;
}

h2{
  font-family: 'GangwonEduPowerExtraBoldA';
  margin: 0%;
  font-size: 40px;
  padding: 20px;
  color: white;
}

.daybox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10%;
}

.container_row{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height:40%;
}

.container_column{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:40%;
}

.main{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* 게임설명창 디자인입니다 */
.gamediscribe{
  height: auto;
  text-align: center;
  padding-bottom: 5%;
}


#g_text{
  font-size: 30px;
  font-family: 'GangwonEduPowerExtraBoldA';
  color: black;
  z-index:15;
  display: inline-block;
  text-align: left;
  position: relative;
  top:150px;
  right: 100px;
  
}

#g_backimg{
  position: relative;
  bottom: 70px;
  width: 1000px;
  z-index: 10;
}

.middlediscribe{
  text-align: center;
  display: inline-block;
  font-size: 30px;
  font-family: 'GangwonEduPowerExtraBoldA';
  color: black;
  height: 10%;
}