/*공통적으로 쓰이게 될 속성들입니다 */


@font-face {
  font-family: 'GangwonEduPowerExtraBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html{
  overflow-x:hidden;
  overflow-y:hidden;
}

body {
  width: 2240px;
  height: 1260px;
  margin:0;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}

/* D+N과 SCORE에 적용되어있습니다 */

h1{
  font-family: 'GangwonEduPowerExtraBoldA';
  margin: 0%;
  font-size: 50px;
  padding: 20px;
  color: white;
}

h2{
  font-family: 'GangwonEduPowerExtraBoldA';
  margin: 0%;
  font-size: 40px;
  padding: 20px;
  color: white;
}

.daybox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
}

.container{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height:80%;
}

.main{
  height: 100%;
  width: 100%;
}



/* navbar */

.nav{
  display: flex;
  justify-content: space-between;
}

button.navbtn{
  margin-top: 10px;
  font-family: 'GangwonEduPowerExtraBoldA';
  font-size: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  color: white;
  padding: 20px;

}

/* 
게임설명창 디자인입니다 */
.gamediscribe{
  position: relative;
  background-color: blue;
}


#g_text{
  font-size: 30px;
  font-family: 'GangwonEduPowerExtraBoldA';
  color: black;
  z-index:15;
  background-color: red;
  display: inline-block;
  text-align: left;
  position: relative;
  top:150px;
  right: 100px;
  
}

#g_backimg{
  position: relative;
  bottom: 70px;
  width: 1000px;
  z-index: 10;
  background-color: red;
}

/*nav*/
.nav{
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 126px;
  position: static;
}

.navbtn{
  margin-top: 10px;
  font-size: 20px;
  font-family: 'GangwonEduPowerExtraBoldA';
  border: 0;
  outline: 0;
  background-color: transparent;
  color: white;
}