@font-face {
  font-family: 'GangwonEduPowerExtraBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html{  
  overflow-x:hidden;
  overflow-y:hidden;
  background-color: black;

}

body{
  margin:0;
  background-color: #FFE269;
  cursor: url('./마우스.png'), auto;
  width: 2240px;
  height: 1260px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url("./배경.png");
  background-size: 30%;
}

.header{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90%;
}

/*maze*/

.mazemaster{
  width: 50%;
  height: 100%;
  overflow-x:hidden;
  overflow-y:hidden;
}

#sizeInput{
  visibility: hidden;
}


#maze{
  position: relative;
  width: 33%;
  height: auto;
  z-index: 20;
  top:50%;
  left: 30%;
}


#miroback{
  width: auto;
  height: 100%;
  position: relative;
  bottom: 30%;
  left: 5%;
  z-index: 10;
}

#mirotext{
  position: relative;
  z-index: 30;
  width: 10%;
  height: auto;
  top:50%;
  left: 100px;
}


/*duck*/

.titlemaster{
  width: 50%;
  height: 100%;
  overflow: hidden;
}

#mainduck{
  width: 100%;
  position: relative;
  bottom: -10%;
}

/*nav*/
.nav{
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 10%;
  position: static;
}

.navbtn{
  margin-top: 0.6rem;
  font-size: 1.5rem;
  font-family: 'GangwonEduPowerExtraBoldA';
  border: 0;
  outline: 0;
  background-color: transparent;
  color: white;
}